/* ===============================================================
   Hide several elements to prevent blinking when loading the page
   =============================================================== */
#spinner-div {
	display: none;
}
/* ===============================================================
   Styles of change password page
   =============================================================== */
main {
  margin: 0 auto 0 auto;
  max-width: 800px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
div {
  margin: 5px 0 5px 0;
}