/* ===============================================================
   Общие стили документа
   =============================================================== */
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
body {
	background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 12px 12px;
	background-position: center center;
}


/* ===============================================================
   Стили заголовков списка и формы редактирования задачи
   =============================================================== */
form {
	margin: 10px 0px 10px 0px;
}
div.leftLine {
	float: left;
}
div.rightLine {
	float: right;
}
slabel#ListTitle {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
	color: rgba(255,0,0,1);
	margin: 5px 0px 0px 0px;
}
select#ListSelect option:nth-child(1) {
    font-weight:bold;
}
label#ListHelp {
	text-decoration: underline;
}
label#ListHelp:hover {
	cursor: pointer;
}
input#CheckToday {
	vertical-align: middle;
	margin: 0px 0px 0px 0px;
}
label#TaskResult {
	font-style: italic;
	vertical-align:middle;
	line-height: 21px;
	margin: 0px 0px 0px 4px;
}
br.clearBoth {
	clear: both;
}

/* ===============================================================
   Стили задач, отображаемых в таблице
   =============================================================== */
table#TasksTable {
	width: 100%;
}
td.td, td.vs, td.vn, td.ns, td.nn, td.vh {
	width: 16.6%;
	vertical-align: top;
	text-align: justify-all;
}
td.td {
	background-color:rgba(255, 128, 128, 0.3);
}
td.vs {
	background-color:rgba(255, 128, 255, 0.3);
}
td.vn {
	background-color:rgba(255, 255, 128, 0.3);
}
td.ns {
	background-color:rgba(128, 255, 128, 0.3);
}
td.nn {
	background-color:rgba(128, 255, 255, 0.3);
}
td.vh {
	background-color:rgba(128,128,255, 0.3);
}
header.ColumnHeader {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	color: rgb(105,105,105);
	margin: 5px 0px 0px 0px;
}
p {
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
span.name {
	color: rgba(0,0,255,1.0);
}
.done {
	text-decoration: line-through;
	text-decoration-style: double;
	text-decoration-color: rgba(0,128,0,0.3);
	-webkit-text-decoration-style: double;
	-webkit-text-decoration-color: rgba(0,128,0,0.3);
	color: rgba(0,0,0,0.3);
}
.moved {
	text-decoration: line-through;
	text-decoration-style: wavy;
	text-decoration-color: rgba(128,128,128,0.3);
	-webkit-text-decoration-style: wavy;
	-webkit-text-decoration-color: rgba(128,128,128,0.3);
	color: rgba(0,0,0,0.3);
}
.canceled {
	text-decoration: line-through;
	text-decoration-style: solid;
	text-decoration-color: rgba(255,0,0,0.3);
	-webkit-text-decoration-style: solid;
	-webkit-text-decoration-color: rgba(255,0,0,0.3);
	color: rgba(0,0,0,0.3);
}
p.done span.name, p.canceled span.name, p.moved span.name {
	color: rgba(0,0,255,0.3);
}


/* ===============================================================
   Стили, обеспечивающие интерактивность списка задач
   =============================================================== */
p:hover {
	cursor: pointer;
}
p.done:hover::after {
	content: "Выполнено"; /* Выводим текст */
}
p.canceled:hover::after {
	content: "Отменено"; /* Выводим текст */
}
p.moved:hover::after {
	content: "Перемещено в другой список"; /* Выводим текст */
}
p.done:hover::after, p.canceled:hover::after, p.moved:hover::after {
	position: absolute; /* Абсолютное позиционирование */
	z-index: 1; /* Отображаем подсказку поверх других элементов */
	color: rgba(0,0,0,1.0);
	background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
	padding: 5px; /* Поля */
	border: 1px solid #000333; /* Параметры рамки */
}


/* ===============================================================
   Стили, обеспечивающие работу со шкалой времени
   =============================================================== */
td.TimeLabels, td.TodayTasks {
	vertical-align: top;
	text-align: justify-all;
}
td.TimeLabels {
	white-space: nowrap;
}
ul#TimeLabels {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0; 
}
li.TimeLabel {
	margin: 0px 0px 0px 0px;
	padding: 0;
	text-decoration: overline;
	height: 20px;
}
td.TodayTasks {
	width: 100%;
}
ul#TodayTasks {
	list-style-type: none;
	margin: 0px 0px 0px 0px;; 
	padding: 0; 
}
li.TodayTask {
	margin: 0px 0px 0px 0px;
	padding: 2px 0px 0px 0px;
	border: 1px solid rgba(128,128,128,1);
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
}
li.TodayRelax {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border: 1px solid rgba(128,128,128,0);
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	height: 20px;
}
li.TodayTask:hover {
	cursor: pointer;
	border: 1px solid rgba(128,128,255,1);
	background: rgba(128,128,255,0.1);
}
.ui-state-highlight {
	height: 20px;
}
.ui-sortable-helper {
    cursor: move;
}


/* ===============================================================
   Стили, обеспечивающие работу с пиктограммами
   =============================================================== */
li img, p img {
	display: inline-block;
	vertical-align: text-top;
	margin: -1px 2px 0px 0px;
	padding: 0px 0px 0px 2px;
	height: 16px;
}
.done img, .canceled img, .moved img {
	opacity: 0.3;
}


/* ===============================================================
   Стили, обеспечивающие верчение спиннера
   =============================================================== */
.sk-fading-circle {
	margin: 1px 0px 0px 4px;
	padding: 0px 0px 0px 0px;
	width: 18px;
	height: 18px;
	position: relative;
}
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}