/* ===============================================================
   Общие стили документа
   =============================================================== */
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}
body {
	background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
	background-size: 12px 12px;
	background-position: center center;
}


/* ===============================================================
   Стили заголовков списка и формы редактирования задачи
   =============================================================== */
form {
	margin: 10px 0px 10px 0px;
}
label#ListTitle {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	font-size: 1.25rem;
	color: rgba(255,0,0,1);
	margin: 5px 0px 0px 0px;
}
select#ListSelect option:nth-child(1) {
    font-weight:bold;
}
span#ListButtons, span#TaskButtons {
	float: right;
}
label#ListHelp {
	text-decoration: underline;
}
label#ListHelp:hover {
	cursor: pointer;
}
label#TaskResult {
	font-style: italic;
}


/* ===============================================================
   Стили задач, отображаемых в таблице
   =============================================================== */
table#TasksTable {
	width: 100%;
}
td.td, td.vs, td.vn, td.ns, td.nn, td.vh {
	width: 16.6%;
	vertical-align: top;
	text-align: justify-all;
}
td.td {
	background-color:rgba(255, 128, 128, 0.3);
}
td.vs {
	background-color:rgba(255, 128, 255, 0.3);
}
td.vn {
	background-color:rgba(255, 255, 128, 0.3);
}
td.ns {
	background-color:rgba(128, 255, 128, 0.3);
}
td.nn {
	background-color:rgba(128, 255, 255, 0.3);
}
td.vh {
	background-color:rgba(128,128,255, 0.3);
}
header.ColumnHeader {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
	color: rgb(105,105,105);
	margin: 5px 0px 0px 0px;
}
p {
	margin: 5px 0px 0px 0px;
	padding: 0;
}
span.name {
	color: rgba(0,0,255,1.0);
}
.done {
	text-decoration: line-through;
	text-decoration-style: double;
	text-decoration-color: rgba(0,128,0,0.3);
	-webkit-text-decoration-style: double;
	-webkit-text-decoration-color: rgba(0,128,0,0.3);
	color: rgba(0,0,0,0.3);
}
.moved {
	text-decoration: line-through;
	text-decoration-style: wavy;
	text-decoration-color: rgba(128,128,128,0.3);
	-webkit-text-decoration-style: wavy;
	-webkit-text-decoration-color: rgba(128,128,128,0.3);
	color: rgba(0,0,0,0.3);
}
.canceled {
	text-decoration: line-through;
	text-decoration-style: solid;
	text-decoration-color: rgba(255,0,0,0.3);
	-webkit-text-decoration-style: solid;
	-webkit-text-decoration-color: rgba(255,0,0,0.3);
	color: rgba(0,0,0,0.3);
}
p.done span.name, p.canceled span.name, p.moved span.name {
	color: rgba(0,0,255,0.3);
}


/* ===============================================================
   Стили, обеспечивающие интерактивность списка задач
   =============================================================== */
p:hover {
	cursor: pointer;
}
p.done:hover::after {
	content: "Выполнено"; /* Выводим текст */
}
p.canceled:hover::after {
	content: "Отменено"; /* Выводим текст */
}
p.moved:hover::after {
	content: "Перемещено в другой список"; /* Выводим текст */
}
p.done:hover::after, p.canceled:hover::after, p.moved:hover::after {
	position: absolute; /* Абсолютное позиционирование */
	z-index: 1; /* Отображаем подсказку поверх других элементов */
	color: rgba(0,0,0,1.0);
	background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
	padding: 5px; /* Поля */
	border: 1px solid #000333; /* Параметры рамки */
}


/* ===============================================================
   Стили, обеспечивающие работу со шкалой времени
   =============================================================== */
td.TimeLabels, td.TodayTasks {
	vertical-align: top;
	text-align: justify-all;
}
td.TimeLabels {
	white-space: nowrap;
}
ul#TimeLabels {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0; 
}
li.TimeLabel {
	margin: 1px 0px 0px 0px;
	padding: 0;
	text-decoration: overline;
	height: 14px;
}
td.TodayTasks {
	width: 100%;
}
ul#TodayTasks {
	list-style-type: none;
	margin: 0px 0px 0px 0px;; 
	padding: 0; 
}
li.TodayTask {
	margin: 0px 0px 0px 0px;
	padding: 0;
	border: 1px solid rgba(128,128,128,1);
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
}
li.TodayRelax {
	margin: 0px 0px 0px 0px;
	padding: 0;
	border: 1px solid rgba(128,128,128,0);
	border-radius: 3px;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	height: 15px;
}
li.TodayTask:hover {
	cursor: pointer;
	border: 1px solid rgba(128,128,255,1);
	background: rgba(128,128,255,0.1);
}
.ui-state-highlight {
	height: 15px;
}
.ui-sortable-helper {
    cursor: move;
}