<!DOCTYPE html>
<html>
<head>
	<title>{{.Labels.titleChangePassword}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/static/global.css?1">
	<link rel="stylesheet" type="text/css" href="/static/changepassword.css?3">
	<link rel="icon" type="image/png" href="/static/favicon.png">
	<link rel="apple-touch-icon" type="image/png" href="/static/faviphone.png">
	<script src="/static/libs/jquery-3.3.1.min.js"></script>
	<script src="/static/libs/md5.min.js"></script>
	<script src="/static/global.js?1"></script>
	<script src="/static/changepassword.js?2"></script>
	<script type="text/javascript">
		var textResult = "{{.Result}}";
		var uuid = "{{.UUID}}";
		{{- range $key, $value := .Labels}}
		{{- if or (eq (printf "%.4s" $key) "ajax") (eq (printf "%.6s" $key) "result") }}
		var {{$key}} = "{{$value}}";
		{{- end}}
		{{- end}}
	</script>
</head>
<body>
	<div id="workplace-div">
		<div id="main-div">
			<form id="change-password-form" {{if not .IsMobile}}class="left-side"{{end}}>
				<div class="line" id="password1-div"><input type="password" name="password1" id="password1-input" placeholder="{{.Labels.placeholderPassword1InputSignup}}"></div>
				<div class="line" id="password2-div"><input type="password" name="password2" id="password2-input" placeholder="{{.Labels.placeholderPassword2InputSignup}}"></div>
				<div class="line" id="submit-div"><button id="submit-button">{{.Labels.buttonSubmitPassword}}</button></div>
				<div class="line" id="result-div">
					<div class="sk-fading-circle" id="spinner-div">
						<div class="sk-circle1 sk-circle"></div><div class="sk-circle2 sk-circle"></div><div class="sk-circle3 sk-circle"></div>
						<div class="sk-circle4 sk-circle"></div><div class="sk-circle5 sk-circle"></div><div class="sk-circle6 sk-circle"></div>
						<div class="sk-circle7 sk-circle"></div><div class="sk-circle8 sk-circle"></div><div class="sk-circle9 sk-circle"></div>
						<div class="sk-circle10 sk-circle"></div><div class="sk-circle11 sk-circle"></div><div class="sk-circle12 sk-circle"></div>
					</div>
					<label id="result-label">{{.Result}}</label>
				</div>
				<div class="line" id="return-div"><button id="return-button">{{.Labels.buttonReturn}}</button></div>
			</form>
			<br>
		</div>
	</div>
</body>
</html>
