<!DOCTYPE html>
<html lang="{{.UserLangTag}}">
<head>
	<title>{{.Labels.titleWebPage}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/static/global.css?12">
	<link rel="stylesheet" type="text/css" href="/static/tasks.css?18">
	<link rel="stylesheet" type="text/css" href="/static/libs/jquery-ui.min.css">
	<link rel="icon" type="image/png" href="/static/favicon.png">
	<link rel="apple-touch-icon" type="image/png" href="/static/faviphone.png">
	<script src="/static/libs/jquery-3.3.1.min.js"></script>
	<script src="/static/libs/jquery-ui.min.js"></script>
	<script src="/static/libs/jquery.ui.touch-punch.min.js"></script>
	<script src="/static/libs/js.cookie.js"></script>
	<script src="/static/libs/md5.min.js"></script>
	<script src="/static/global.js?4"></script>
	<script src="/static/headers.js?2"></script>
	<script src="/static/lists.js?2"></script>
	<script src="/static/filter.js?2"></script>
	<script src="/static/today.js?2"></script>
	<script src="/static/tasks.js?7"></script>
	<script>
		{{- range $key, $value := .Labels}}
		{{- if or (or (or ( or (eq (printf "%.4s" $key) "ajax") (eq (printf "%.6s" $key) "result") ) (eq (printf "%.6s" $key) "status") ) (eq (printf "%.6s" $key) "button") ) (eq (printf "%.4s" $key) "hint") }}
		var {{$key}} = "{{$value}}";
		{{- end}}
		{{- end}}
		var openList = "{{.ListToOpen}}"
	</script>
</head>
<body>
	<header id="help-header">
		<h1>{{.Labels.helpH1}}</h1>
		<h2>{{.Labels.helpH2}}</h2>
		<article class="tip"><img src="/static/icons/smartphone.svg" alt="quickly add a task"><div>{{.Labels.helpSmartphone}}</div></article>
		<article class="tip"><img src="/static/icons/evening.svg" alt="sort incoming tasks"><div>{{.Labels.helpEvening}}</div></article>
		<article class="tip"><img src="/static/icons/meeting.svg" alt="delegate tasks"><div>{{.Labels.helpMeeting}}</div></article>
		<article class="tip"><img src="/static/icons/filter.svg" alt="filter tasks"><div>{{.Labels.helpFilter}}</div></article>
		<article class="tip"><img src="/static/icons/checklist.svg" alt="easy start from scratch"><div>{{.Labels.helpChecklist}}</div></article>
		<div id="help-close-div"><button id="help-close-button">{{.Labels.buttonHelpClose}}</button></div>
	</header>
	<header id="welcome-header">
		<article class="welcome"><h4><button id="welcome-register-user-button">{{.Labels.buttonWelcomeRegister}}</button></h4><div>{{.Labels.labelWelcomeRegister}}</div></article>
		<article class="welcome"><h4><button id="welcome-login-user-button">{{.Labels.buttonWelcomeLogin}}</button></h4><div>{{.Labels.labelWelcomeLogin}}</div></article>
		<article class="welcome"><h4><button id="welcome-start-anonymously-button">{{.Labels.buttonWelcomeStartAnonymously}}</button></h4><div>{{.Labels.labelWelcomeStartAnonymously}}</div></article>
	</header>
	<header id="signup-header">
		<form id="signup-form" class="left-side">
			<input type="text" name="email" id="email-signup-input" placeholder="{{.Labels.placeholderEmailInputSignup}}">
			<button id="submit-signup-button">{{.Labels.buttonSubmitSignup}}</button>
			<button id="submit-restore-button">{{.Labels.buttonSubmitRestore}}</button>
			<button id="cancel-signup-button">{{.Labels.buttonCancelSignup}}</button>
			<div class="sk-fading-circle" id="signup-spinner-div">
				<div class="sk-circle1 sk-circle"></div><div class="sk-circle2 sk-circle"></div><div class="sk-circle3 sk-circle"></div>
				<div class="sk-circle4 sk-circle"></div><div class="sk-circle5 sk-circle"></div><div class="sk-circle6 sk-circle"></div>
				<div class="sk-circle7 sk-circle"></div><div class="sk-circle8 sk-circle"></div><div class="sk-circle9 sk-circle"></div>
				<div class="sk-circle10 sk-circle"></div><div class="sk-circle11 sk-circle"></div><div class="sk-circle12 sk-circle"></div>
			</div>
			<label class="result" id="signup-result-label"></label>
		</form>
	</header>
	<header id="login-header">
		<form id="login-form" class="left-side">
			<input type="text" name="email" id="email-login-input" placeholder="{{.Labels.placeholderEmailInputLogin}}">
			<input type="password" name="password" id="password-login-input" placeholder="{{.Labels.placeholderEmailInputPassword}}">
			<button id="submit-login-button">{{.Labels.buttonSubmitLogin}}</button>
			<button id="cancel-login-button">{{.Labels.buttonCancelLogin}}</button>
			<label id="forgot-password-label" class="clickable">{{.Labels.labelForgotPassword}}</label>
			<div class="sk-fading-circle" id="login-spinner-div">
				<div class="sk-circle1 sk-circle"></div><div class="sk-circle2 sk-circle"></div><div class="sk-circle3 sk-circle"></div>
				<div class="sk-circle4 sk-circle"></div><div class="sk-circle5 sk-circle"></div><div class="sk-circle6 sk-circle"></div>
				<div class="sk-circle7 sk-circle"></div><div class="sk-circle8 sk-circle"></div><div class="sk-circle9 sk-circle"></div>
				<div class="sk-circle10 sk-circle"></div><div class="sk-circle11 sk-circle"></div><div class="sk-circle12 sk-circle"></div>
			</div>
			<label class="result" id="login-result-label"></label>
		</form>
	</header>
	<nav id="user-help-lists-nav">
		<form id="user-form">
			<img id="user-img" src="/static/icons/user.svg" alt="registered user">
			<img id="anon-img" src="/static/icons/anon.svg" alt="anonymous user">
			<label id="user-label"></label>
			<button id="register-user-button">{{.Labels.buttonRegister}}</button>
			<button id="logout-user-button">{{.Labels.buttonLogout}}</button>
		</form>
		<form id="languages-and-help-form">
			<label>{{.Labels.labelLanguages}}</label>
			<select title="{{.Labels.hintLanguagesSelector}}" name="lang" id="language-select">
				{{- range .Langs}}
			 	<option value="{{.EnglishName}}"{{if eq .EnglishName $.UserLang}} selected="selected"{{end}}>{{.NationalName}}</option>
				{{- end}}
			</select>
			<label id="help-label" class="clickable">{{.Labels.labelHelp}}</label>
		</form>
		<form id="select-list-form">
			<label>{{.Labels.labelTaskLists}}</label>
			<select title="{{.Labels.hintTaskListsSelector}}" name="list" id="task-lists-select"></select>
			<label>{{.Labels.labelStatisticTasks}}</label>
			<label id="total-tasks-count-label"></label>
			<label>{{.Labels.labelStatisticDone}}</label>
			<label id="done-tasks-count-label"></label>
			<label>{{.Labels.labelStatisticCanceled}}</label>
			<label id="canceled-tasks-count-label"></label>
			<label>{{.Labels.labelStatisticWaitRemind}}</label>
			<label id="wait-remind-tasks-count-label"></label>
			<label>{{.Labels.labelStatisticActivity}}</label>
			<label id="activity-tasks-count-label"></label>
			<label>{{.Labels.labelStatisticToday}}</label>
			<label id="today-tasks-count-label"></label>
			<button id="new-list-create-button">{{.Labels.buttonNewListCreate}}</button>
			<button id="empty-list-remove-button">{{.Labels.buttonEmptyListRemove}}</button>
		</form>
	</nav>
	<nav id="task-filter-nav">
		<form id="filter-form">
			<img src="/static/icons/search.svg" alt="search">
			<input type="text" id="filter-input" name="filter" size="20" placeholder="{{.Labels.placeholderSearchInput}}">
			<button id="filter-clear-button">x</button>
			<select title="{{.Labels.hintFilterSelector}}" name="filter" id="filter-select">
			 	<option value="all">{{.Labels.filterAll}}</option>
			 	<option value="created-only">{{.Labels.filterCreatedOnly}}</option>
			 	<option value="created-not-wait-not-remind">{{.Labels.statusCreatedNotWaitNotRemind}}</option>
			</select>
		</form>
		<form id="edit-task-form">
			<label>{{.Labels.labelTask}}</label>
			<input type="hidden" id="task-id-input" name="id">
			<input type="hidden" id="task-timestamp-input" name="timestamp">
			<input type="hidden" id="task-checksum-input" name="timestamp">
			<input type="text" id="task-text-input" name="text" size="55">
			<select title="{{.Labels.hintTaskSectionSelector}}" name="section" id="task-section-select">
			 	<option value="iu">{{.Labels.sectionIU}}</option>
			 	<option value="in">{{.Labels.sectionIN}}</option>
			 	<option value="nu">{{.Labels.sectionNU}}</option>
				<option value="nn">{{.Labels.sectionNN}}</option>
			 	<option value="ib">{{.Labels.sectionIB}}</option>
			</select>
			<select title="{{.Labels.hintTaskIconSelector}}" name="icon" id="task-icon-select">
				<option value="" disabled selected>{{.Labels.iconDefault}}</option>
				<option value="wait">{{.Labels.iconWait}}</option>
				<option value="remind">{{.Labels.iconRemind}}</option>
				<option value="call">{{.Labels.iconCall}}</option>
				<option value="force">{{.Labels.iconForce}}</option>
				<option value="mail">{{.Labels.iconMail}}</option>
				<option value="prepare">{{.Labels.iconPrepare}}</option>
				<option value="manage">{{.Labels.iconManage}}</option>
				<option value="meet">{{.Labels.iconMeet}}</option>
				<option value="visit">{{.Labels.iconVisit}}</option>
				<option value="make">{{.Labels.iconMake}}</option>
				<option value="journey">{{.Labels.iconJourney}}</option>
				<option value="think">{{.Labels.iconThink}}</option>
			</select>
			<select title="{{.Labels.hintTaskStatusSelector}}" name="status" id="task-status-select">
			 	<option value="created">{{.Labels.statusCreated}}</option>
			 	<option value="moved">{{.Labels.statusMoved}}</option>
			 	<option value="canceled">{{.Labels.statusCanceled}}</option>
			 	<option value="done">{{.Labels.statusDone}}</option>
			</select>
			<input type="checkbox" id="checkbox-today-input" name="today" value="1">
	    	<label for="checkbox-today-input">{{.Labels.labelTodayCheckbox}}</label>
			<button id="task-submit-button">{{.Labels.buttonAddTask}}</button>
			<button id="task-move-button">{{.Labels.bottonMoveTask}}</button>
			<div class="sk-fading-circle" id="task-spinner-div">
				<div class="sk-circle1 sk-circle"></div><div class="sk-circle2 sk-circle"></div><div class="sk-circle3 sk-circle"></div>
				<div class="sk-circle4 sk-circle"></div><div class="sk-circle5 sk-circle"></div><div class="sk-circle6 sk-circle"></div>
				<div class="sk-circle7 sk-circle"></div><div class="sk-circle8 sk-circle"></div><div class="sk-circle9 sk-circle"></div>
				<div class="sk-circle10 sk-circle"></div><div class="sk-circle11 sk-circle"></div><div class="sk-circle12 sk-circle"></div>
			</div>
			<label class="result" id="operation-status-label"></label>
		</form>
	</nav>
	<main id="tasks-main">
		<section id="td">
			<h3>
				{{.Labels.labelToday}}
				<button id="clear-done-button" title="{{.Labels.hintClearDone}}">x</button>
				<button id="clear-all-button" title="{{.Labels.hintClearAll}}">X</button>
			</h3>
			<ul id="today-tasks-ul">
			</ul>
		</section>
		<section id="iu">
			<h3>{{.Labels.sectionIU}}<button class="add" title="{{.Labels.hintAddTask}}">+</button></h3>
		</section>
		<section id="in">
			<h3>{{.Labels.sectionIN}}<button class="add" title="{{.Labels.hintAddTask}}">+</button></h3>
		</section>
		<section id="nu">
			<h3>{{.Labels.sectionNU}}<button class="add" title="{{.Labels.hintAddTask}}">+</button></h3>
		</section>
		<section id="nn">
			<h3>{{.Labels.sectionNN}}<button class="add" title="{{.Labels.hintAddTask}}">+</button></h3>
		</section>
		<section id="ib">
			<h3>{{.Labels.sectionIB}}<button class="add" title="{{.Labels.hintAddTask}}">+</button></h3>
		</section>
	</main>
	<footer>
		<a href="https://github.com/st-korn/KornToDoList" target="_blank">{{.Labels.labelDeveloperPortal}}</a>
	</footer>
</body>
</html>
