<!DOCTYPE html>
<html>
<head>
	<title>Список задач {{.CurList}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/static/tasks.css?1">
	<link rel="stylesheet" type="text/css" href="/static/libs/jquery-ui.min.css">
	<script src="/static/libs/jquery-3.3.1.min.js"></script>
	<script src="/static/libs/jquery-ui.min.js"></script>
	<!--<script src="/static/libs/jquery.ui.touch-punch.min.js"></script>-->
	<script src="/static/tasks.js?1"></script>
</head>
<body>
	<form id="ListForm">
		<div class="leftLine">
			<label id="ListTitle">Список задач: </label>
			<select title="Выберите список задач с которым будете работать" name="	list" id="ListSelect">
				{{- range .MyLists}}
			 	<option value="{{.}}"{{if eq . $.CurList}} selected="selected"{{end}}>{{.}}</option>
		 		{{- end}}
			</select>
		</div>
		<div class="rightLine">
			<button id="ListCreate">Создать новый список</button>
			<label id="ListHelp">Помощь</label>
		</div>
		<br class="clearBoth">
	</form>
	<form id="TaskForm">
		<div class="leftLine">
			<label id="TaskAction">Задача: </label>
			<input type="hidden" id="TaskId" name="id">
			<input type="hidden" id="TaskList" name="list">
			<input type="text" id="TaskText" name="text" size="55">
			<select title="Раздел, в который будет добавлена задача" name="section" id="TaskSection">
			 	<option value="vs">ВАЖНО И СРОЧНО</option>
			 	<option value="vn">ВАЖНО, но несрочно</option>
			 	<option value="ns">неважно, но СРОЧНО</option>
				<option value="nn">неважно и несрочно</option>
			 	<option value="vh">входящие задачи</option>
			</select>
			<select title="Классифицируйте необходимое действие" name="icon" id="TaskIcon">
				<option value=""></option>
				<option value="wait">дождаться</option>
				<option value="remind">дожать</option>
				<option value="call">позвонить</option>
				<option value="force">заставить</option>
				<option value="mail">написать</option>
				<option value="prepare">разработать</option>
				<option value="manage">организовать</option>
				<option value="meet">встретиться</option>
				<option value="visit">съездить</option>
				<option value="make">сделать</option>
				<option value="journey">слетать</option>
				<option value="think">придумать</option>
			</select>
			<select title="Текущий статус задачи" name="status" id="TaskStatus">
			 	<option value="created">создана</option>
			 	<option value="moved">перенесена</option>
			 	<option value="canceled">отменена</option>
			 	<option value="done">завершена</option>
			</select>
			<input type="checkbox" id="CheckToday" name="today" value="1">
    		<label for="CheckToday">Буду делать сегодня</label>
			<button id="TaskSubmit">Добавить</button>
		</div>
		<div class="leftLine">
			<button id="TaskMove" title="{{.ActualListFullName}}">Перенести в список {{.ActualListShortName}}</button>
		</div>
		<div class="leftLine sk-fading-circle" id="spinner">
			<div class="sk-circle1 sk-circle"></div>
  			<div class="sk-circle2 sk-circle"></div>
			<div class="sk-circle3 sk-circle"></div>
			<div class="sk-circle4 sk-circle"></div>
			<div class="sk-circle5 sk-circle"></div>
			<div class="sk-circle6 sk-circle"></div>
			<div class="sk-circle7 sk-circle"></div>
			<div class="sk-circle8 sk-circle"></div>
			<div class="sk-circle9 sk-circle"></div>
			<div class="sk-circle10 sk-circle"></div>
			<div class="sk-circle11 sk-circle"></div>
			<div class="sk-circle12 sk-circle"></div>
		</div>
		<div class="leftLine">
			<label id="TaskResult"></label>
		</div>
		<br class="clearBoth">
	</form>
	<table id="TasksTable">
	<tr>		
		<td class="td">
			<header class="ColumnHeader">СЕГОДНЯ <button id="ClearDone" title="Удалить выполненные">x</button> <button id="ClearAll" title="Удалить все">X</button></header>
			<table id="TodayTable">
				<tr>
					<td class="TimeLabels">
						<ul id="TimeLabels">
							{{- range .TimeLabels}}
							{{- if or (not .IsRelax) (not $.IsMobile)}}
							<li class="TimeLabel">{{.Text}}</li>
							{{- end}}
							{{- end}}
						</ul>
					</td>
					<td class="TodayTasks">
						<ul id="TodayTasks">
							{{- range .TodayTasks}}
							{{- if and .IsRelax (not $.IsMobile)}}
							<li class="TodayRelax"></li>
							{{- end}}
							{{- if not .IsRelax}}
							<li id="{{.Id.Hex}}" class="TodayTask {{.Status}}" style="height:{{.Height}}px" title="{{.Text}}">{{if .Icon}}<img class="{{.Icon}}" src="\static\icons\{{.Icon}}.svg">{{end}}{{.Text}}</li>
							{{- end}}
							{{- end}}
						</ul>
					</td>
				</tr>
			</table>
		</td>
	{{- if .IsMobile}}</tr>
	<tr>{{- end}}
		<td class="vs">
			<header class="ColumnHeader">ВАЖНО И СРОЧНО <button class="add">+</button></header>
			{{- range .Vs}}
			<p id="{{.Id.Hex}}" class="{{.Status}}">{{if .Icon}}<img class="{{.Icon}}" src="\static\icons\{{.Icon}}.svg">{{end}}{{marktask .Text}}</p>
			{{- end}}
		</td>
	{{- if .IsMobile}}</tr>
	<tr>{{- end}}
		<td class="vn">
			<header class="ColumnHeader">ВАЖНО, но несрочно <button class="add">+</button></header>
			{{- range .Vn}}
			<p id="{{.Id.Hex}}" class="{{.Status}}">{{if .Icon}}<img class="{{.Icon}}" src="\static\icons\{{.Icon}}.svg">{{end}}{{marktask .Text}}</p>
			{{- end}}
		</td>
	{{- if .IsMobile}}</tr>
	<tr>{{- end}}
		<td class="ns">
			<header class="ColumnHeader">неважно, но СРОЧНО <button class="add">+</button></header>
			{{- range .Ns}}
			<p id="{{.Id.Hex}}" class="{{.Status}}">{{if .Icon}}<img class="{{.Icon}}" src="\static\icons\{{.Icon}}.svg">{{end}}{{marktask .Text}}</p>
			{{- end}}
		</td>
	{{- if .IsMobile}}</tr>
	<tr>{{- end}}
		<td class="nn">
			<header class="ColumnHeader">неважно и несрочно <button class="add">+</button></header>
			{{- range .Nn}}
			<p id="{{.Id.Hex}}" class="{{.Status}}">{{if .Icon}}<img class="{{.Icon}}" src="\static\icons\{{.Icon}}.svg">{{end}}{{marktask .Text}}</p>
			{{- end}}
		</td>
	{{- if .IsMobile}}</tr>
	<tr>{{- end}}
		<td class="vh">
			<header class="ColumnHeader">входящие задачи <button class="add">+</button></header>
			{{- range .Vh}}
			<p id="{{.Id.Hex}}" class="{{.Status}}">{{if .Icon}}<img class="{{.Icon}}" src="\static\icons\{{.Icon}}.svg">{{end}}{{marktask .Text}}</p>
			{{- end}}
		</td>
	</tr>
	</table>
</body>
</html>
